---
import BlackjackLayout from "../layouts/BlackjackLayout.astro";
---

<BlackjackLayout title="Blackjack">
  <p>Blackjack is a popular card game that is played in casinos. The goal of the game is to get a hand that is as close to 21 as possible without going over. The game is played with one or more decks of cards, and the player is dealt two cards to start. The player can then choose to "hit" and receive another card, or "stand" and keep their current hand. The player can continue to hit until they are satisfied with their hand, or until they go over 21 and "bust".</p>
</BlackjackLayout>  