---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="h1-alt">The Casino</span></h1>
    <ul role="list" class="link-card-grid">
      <Card
        href="wheel"
        title="The Wheel"
        body="Spin the wheel and pick your odds"
      />
      <Card
        href="blackjack"
        title="Blackjack"
        body="Play blackjack to win FREE MONEY!"
      />
      <Card
        href="jackpot"
        title="Jackpot"
        body="Enter the jackpot for a chance to win BIG"
      />
      <Card
        href="horses"
        title="Horses"
        body="Watch the horses race and bet on your favorite"
      />
    </ul>
    <p class="bankrupt">
      Broke? No problem <code>Declare Bankruptcy</code> so you can get back to whats
      important, gambling.
    </p>
  </main>
</Layout>

<style>
  h1 {
    -webkit-text-stroke: 1px black;
    text-shadow: 5px 5px 5px black;
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .h1-alt {
    -webkit-text-stroke: 0px;
    color: #00a2ff;
    text-shadow:
      0 0 10px #ffffff,
      0 0 20px #00a2ff,
      0 0 30px #00a2ff,
      0 0 70px #00a2ff,
      2px 2px 5px#00a2ff;
  }

  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .bankrupt {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .bankrupt code {
    font-size: 0.8em;
    font-weight: bold;
    background: black;
    color: red;
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .bankrupt strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
