---
import Layout from "../layouts/Layout.astro";
import WheelOdds from "../components/Wheel.astro";
---

<Layout title="The Wheel">
  <main>
    <WheelOdds />
  </main>
</Layout>
<script type="module" src="src/scripts/sessionStorage.js"></script>
