---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gambling wheel" />

<main>
  <script src="src/scripts/wheel.js" defer></script>
  <h1>THE WHEEL</h1>

  <div class="wheel-container">
    <div class="arrow" id="arrow"></div>
    <div id="wheel">
      <div class="center-circle" id="spin-button"></div>
    </div>
  </div>
</main>

<style>
  h1 {
    color: white;
    font-size: 5em;
    text-align: center;
  }

  .arrow {
    z-index: 1;
    position: absolute;
    left: 47.5%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 50px solid white; /* Default color, adjust as needed */
    transform-origin: bottom center;
  }

  .wheel-container {
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  #wheel {
    width: 100%;
    padding-bottom: 100%;
    background: conic-gradient(
      from 0deg at center,
      red 15deg,
      yellow 15deg,
      yellow 30deg,
      green 30deg,
      green 45deg,
      yellow 45deg,
      yellow 60deg,
      blue 60deg,
      blue 75deg,
      yellow 75deg,
      yellow 90deg,
      green 90deg,
      green 105deg,
      yellow 105deg,
      yellow 120deg,
      hotpink 120deg,
      hotpink 135deg,
      yellow 135deg,
      yellow 150deg,
      green 150deg,
      green 165deg,
      yellow 165deg,
      yellow 180deg,
      blue 180deg,
      blue 195deg,
      yellow 195deg,
      yellow 210deg,
      blue 210deg,
      blue 225deg,
      green 225deg,
      green 240deg,
      yellow 240deg,
      yellow 255deg,
      hotpink 255deg,
      hotpink 270deg,
      yellow 270deg,
      yellow 285deg,
      green 285deg,
      green 300deg,
      yellow 300deg,
      yellow 315deg,
      blue 315deg,
      blue 330deg,
      yellow 330deg,
      yellow 345deg,
      green 345deg,
      green 360deg
    );

    box-shadow: inset 0 0 15px 5px #333;
    border-radius: 50%;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 3s ease-out;
  }

  .center-circle {
    width: 30%;
    height: 30%;
    right: 35%;
    bottom: 35%;

    box-shadow: inset 0 0 15px 5px #333;
    /*border: 5px solid black;*/
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
  }
</style>
