---
interface Props {
	image: string;
	href: string;
}

const { href, image } = Astro.props;
---

<li class="link-card">
	<a href={href}>
		<img src={image} alt="card" class="card-image">
	</a>
<style>
h2 {
	margin: 0;
	font-size: 1.25rem;
	transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
p {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

.card-image {
	max-width: 97.5%;
	max-height: 96%;
	border-radius: 25px;
	border: 4px solid red;
	filter: brightness(120%) contrast(100%) saturate(110%);
}

.link-card {
	justify-content: center;
    align-items: center;  
    list-style: none;
    display: flex;
	padding: 5px;
	background-color: #fff;
	border-radius: 28px;
    margin-bottom: 20px;
	box-shadow: inset 0 0 7px rgba(0, 0, 0, 1); /* Add even inner shadow */
	transition: transform 0.1s ease; /* Smooth transition */
}
	
.link-card > a {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
    align-items: center;
	text-decoration: none;
	line-height: 1.4;
	color: white;
	opacity: 0.95;
}

.link-card:is(:hover, :focus-within) {
    background-image: linear-gradient(to top right, rgb(0, 0, 128), white); /* Black to white gradient */
	transform: scale(1.1); /* Scale the link card on hover */
}
</style>
