<footer class="footer">
  <button class="speed">Speed<span class="speed"> &gt;</span></button>
  <button class="bet">Bet:<span class="bet-amount">10</span></button>
  <div class="win-bar">
    <span>Win:</span>
    <span class="win-counter">$0</span>
  </div>
  <button class="hands">Hands:<span class="num-hands">1</span></button>
  <button class="play">Play</button>
  <button class="redraw hide">Draw</button>
</footer>

<style>
  .hide {
    display: none;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.75);
    color: #fff;
    text-align: center;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    margin-top: 20px; 
}

.win-bar {
  font-family: "Kode Mono", monospace;
  display: inline-block;
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1e00ff;
  text-shadow: 
      -1px -1px 0 #fff,  
       1px -1px 0 #fff,
      -1px  1px 0 #fff,
       1px  1px 0 #fff; /* Text outline */
  padding: 13px 19px;
  vertical-align: middle;
}

.win-bar span {
  margin-right: 5px;
}
.win-counter {
  font-weight: bold;
}

button {
  cursor: pointer;
  font-size: large;
  font-family: inherit;
  font-weight: bold;
  color: #0011ff;
  background-color: #f8f8fd;
  padding: 0.6em 2.5em;
  margin: 0.5em;
  border-radius: 40em;
  border: 4px solid #8b93f8;
  box-shadow: 0px 8px #1f35ff;
}
button:active {
  position: relative;
  top: 8px;
  border: 6px solid #646fff;
  box-shadow: 0px 0px;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #8ac6ff;
}

@media screen and (max-width: 600px) {

  button {
    width: 20%;
}

.speed {
  display: none;
}

}
</style>
