---
/* TODO:
1. Make sure user has enough money to place a bet
2. Dont reset wheel every time but account for spin
3. Better Styles

*/
---

<p>Place Bets:</p>
<div class="input-container">
  <!-- Bet input field: Positive integer numbers only -->
  <input id="yellow-bet" type="number" min="1" step="1" placeholder="×2" />
  <input id="green-bet" type="number" min="1" step="1" placeholder="×4" />
  <input id="blue-bet" type="number" min="1" step="1" placeholder="×6" />
  <input id="hotpink-bet" type="number" min="1" step="1" placeholder="×12" />
  <input id="red-bet" type="number" min="1" step="1" placeholder="×25" />
</div>
<p id="lastColor"></p>
<div class="wheel-container">
  <div class="arrow" id="arrow"></div>
  <div id="wheel">
    <div class="center-circle" id="spin-button"></div>
  </div>
</div>
<script src="../scripts/wheel.js"></script>

<style>
  h1 {
    font-family: "Kode Mono", monospace;
    color: white;
    font-size: 5em;
    text-align: center;
  }

  p {
    font-family: "Kode Mono", monospace;
    color: white;
    font-size: 2em;
    text-align: center;
  }

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: black;
  }

  .input-container input {
    margin-right: 10px;
    font-size: 16px;
    font-family: "Kode Mono", monospace;
    font-weight: bold;
  }

  input {
    width: 5%;
    height: 30px;
    margin: 10px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid rgb(37, 37, 37);
  }

  input::placeholder {
    color: black;
  }

  input:focus::placeholder {
    opacity: 0;
  }

  #lastColor {
    color: white;
    font-size: 2em;
    text-align: center;
  }

  .arrow {
    z-index: 1;
    position: absolute;
    left: 47.5%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 50px solid white; /* Default color, adjust as needed */
    transform-origin: bottom center;
  }

  .wheel-container {
    position: relative;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
    /*overflow: hidden; /* Prevent content from extending beyond container */
  }

  #yellow-bet {
    background-color: yellow;
  }
  #green-bet {
    background-color: green;
  }
  #blue-bet {
    background-color: blue;
  }
  #hotpink-bet {
    background-color: hotpink;
  }
  #red-bet {
    background-color: red;
  }
  .glow {
    box-shadow: 0 0 10px 5px white;
  }

  #wheel {
    width: 100%;
    padding-bottom: 100%;
    background: conic-gradient(
      from 0deg at center,
      red 15deg,
      yellow 15deg,
      yellow 30deg,
      green 30deg,
      green 45deg,
      yellow 45deg,
      yellow 60deg,
      blue 60deg,
      blue 75deg,
      yellow 75deg,
      yellow 90deg,
      green 90deg,
      green 105deg,
      yellow 105deg,
      yellow 120deg,
      hotpink 120deg,
      hotpink 135deg,
      yellow 135deg,
      yellow 150deg,
      green 150deg,
      green 165deg,
      yellow 165deg,
      yellow 180deg,
      blue 180deg,
      blue 195deg,
      yellow 195deg,
      yellow 210deg,
      blue 210deg,
      blue 225deg,
      green 225deg,
      green 240deg,
      yellow 240deg,
      yellow 255deg,
      hotpink 255deg,
      hotpink 270deg,
      yellow 270deg,
      yellow 285deg,
      green 285deg,
      green 300deg,
      yellow 300deg,
      yellow 315deg,
      blue 315deg,
      blue 330deg,
      yellow 330deg,
      yellow 345deg,
      green 345deg,
      green 360deg
    );
    box-shadow: inset 0 0 25px 10px #333;
    border-radius: 50%;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 3s ease-out;
  }

  .center-circle {
    width: 30%;
    height: 30%;
    right: 35%;
    bottom: 35%;

    box-shadow: inset 0 0 15px 15px #333;
    /*border: 5px solid black;*/
    background-color: gray;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
  }

  .unclickable {
    pointer-events: none;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @media (max-width: 1500px) {
    .wheel-container {
      width: 80%;
    }
    input {
      width: 10%;
      height: 30px;
      margin: 10px;
      text-align: center;
      border-radius: 25px;
    }
  }
</style>
